.header {
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    display: flex;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
}