body {
    font-family: roboto;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding: 0 300px
}

.navbar, .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo, h1 {
    color: #F9FAF8
}

.header-logo {
    font-size: 24px;
}

ul, p {
    color: #E5E7EB;
    font-size: 18px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px
}

.hero {
    width: 450px;
}

h1 {
    font-size: 48px;
}

button {
    background: royalblue;
    border: 1px solid royalblue;
    color: white;
    padding: 8px 32px;
    border-radius: 10px;
}

.img-placeholder {
    background-color: gray;
    padding: 120px 240px
}